body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2d6c3;
}

.secondary_title{
  display: flex;
  justify-content: center;
  color: #F4FAF7;
}

input[type=file] {
  display: block;
  font-style: oblique;
  font-size: 15px;
  margin-top: 2px;
  font-family: 'Poppins', 'Arial', sans-serif;
  color:#bfe7d5;
  font-weight: 500;
}
.input_file, input[type=file]::file-selector-button {
  color: #093a28;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color:#093a28;
}

.title_text{
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.input_form{
  background-color: #a2d6c3;
  border: none;
  height: 100%;
  border-radius: 3px;
}

.input_form:focus{
  border:solid;
  border-width: 1px;
  border-color: #093a28;
  outline:none;
}

.output{
  height: 100%;
  width: 100%;
  object-fit:contain ;
  display:block;
}

.input{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.content_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}


.img_wrapper{
  height: 400px;
  width: 400px;
  border: 2px solid #23684e;
  background-size: cover;
}
.input_vals{
  display: flex;
  flex-direction: column;
}

.begin_button {
  background: linear-gradient(135deg, #dab76b, #9fdfb4);
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  height: 40px;
}

.begin_button:hover {
  background: linear-gradient(135deg, #ecb845, #8bcfa2);
  transform: scale(1.05);
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.25);
}

.download_button{
  background-color: #305c4c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  height: 50px;
}

.download_button:hover {
  background-color: #689e8b;
  transform: scale(1.02);
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.25);
}